@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Comfortaa:wght@300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Philosopher:wght@400;700&family=Poiret+One&family=Shadows+Into+Light&family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Comfortaa:wght@300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Philosopher:wght@400;700&family=Poiret+One&family=Shadows+Into+Light&family=Zeyada&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

body {
  background-color: #070321;
  width: 100%;
}

@keyframes slideIn {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50%);
    opacity: 0;
  }
}
.nav-bar {
  display: flex;
  height: 5.33rem;
  margin: 0.31rem 0;
  justify-content: space-between;
  padding: 0px 40px;
}
.nav-bar ul {
  display: block;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 4rem;
}
.nav-bar ul li {
  list-style-type: none;
}
.nav-bar ul li a {
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.168627451);
  border-radius: 20px 0px;
  font-size: 1em;
  padding: 0.7em 1.2em;
  color: white;
  transition: box-shadow 0.5s ease;
}
.nav-bar ul li a:hover {
  box-shadow: rgba(255, 255, 255, 0.756) 0px 35px 20px -19px;
}

.home {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  padding: 40px 100px;
  gap: 10px;
  color: #fff;
}
.home div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home .name-prof {
  padding: 80px;
  font-size: 33px;
  align-items: center;
  font-family: "Caveat", cursive;
  border-radius: 100px 0px;
}
.home .name-prof h1 {
  text-shadow: 3px 30px 34px rgb(255, 255, 255);
  transition: 1s ease-in-out;
}
.home .name-prof h1:hover {
  cursor: pointer;
  text-shadow: 3px 5px 44px rgb(255, 255, 255);
}
.home .name-prof p {
  text-shadow: 3px 30px 34px rgb(255, 255, 255);
  transition: 1s ease-in-out;
}
.home .name-prof p span {
  color: rgb(200, 234, 9);
}
.home .name-prof p #mySkills {
  animation: slideIn 0.8s ease-in-out infinite;
}
.home .name-prof p:hover {
  cursor: pointer;
  text-shadow: 3px 5px 44px rgb(255, 255, 255);
}

.horizontal_line {
  width: 85%;
  height: 1px;
  background-color: rgb(252, 252, 252);
  position: relative;
  margin: 0px auto;
  cursor: pointer;
}

.horizontal_line::before,
.horizontal_line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.horizontal_line:hover::before,
.horizontal_line:hover::after {
  transform: scaleY(1.5);
  box-shadow: 0 0 80px 1px rgba(255, 255, 255, 0.621);
}/*# sourceMappingURL=home.css.map */